* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2C2F33;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 900px;
    background-color: #23272A;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #7289DA;
}

.instructions {
    background-color: #40444B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.instructions p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #99AAB5;
}

.instructions ul {
    list-style: disc;
    padding-left: 20px;
}

.instructions ul li {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
}

.back-button {
    display: inline-block;
    background-color: #7289DA;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
    background-color: #99AAB5;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
